.name {
  font-size: 1.5rem;
  height: 60px;
  display: grid;
  place-items: center;
}
@media (min-width: 576px) {
  .name {
    font-size: 1.5rem;
    height: 80px;
    display: grid;
    place-items: center;
  }
}
