/* Navbar */
.menubar {
  position: relative;
}
.navbar {
  position: absolute;
  left: -1rem;
  top: 100%;
  background-color: white;
  border-radius: 0 0 1rem 0;
  overflow: auto;
  width: 40vw;
  z-index: 100;
}
.navbar .navs {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 0.25rem;
  padding: 1.125rem 0;
}
.navbar .item {
  padding: 0.5rem 1rem;
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  display: flex;
  justify-content: flex-start;
}
.navbar .item:hover {
  color: #202124;
  background-color: #fff4f4;
}
.navbar .link {
  text-decoration: none;
  color: #202124;
  padding-left: 1rem;
}
.toggler {
  transform: rotate(0);
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
}
.toggler > img {
  user-select: none;
  -webkit-user-select: none;
}
.toggler-rotate {
  transform: rotate(-45deg);
}

@media (min-width: 576px) {
  /* Navbar */
  .navbar {
    position: absolute;
    left: -1rem;
    top: 100%;
    background-color: white;
    border-radius: 0 0 1rem 0;
    overflow: auto;
    width: 300px;
    z-index: 100;
  }
}
